body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 16px;
}

p {
    text-align: justify;
}

.header {
    background-color: #48c5ce;
    text-align: center;
    padding: 10px;
    color: white;
}

.main {
    background-image: url('../images/people.jpg');
    height: 500px;
    background-size: cover;
    overflow: hidden;
}

.section1 {
    float: right;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 200px;
    font-weight: bolder;
    padding: 15px;
    margin: 15px;
}

input,
select {
    width: 95%;
    height: 30px;
    margin: 5px 0;
    border: none;
}

select {
    cursor: pointer;
}

#btn {
    color: white;
    background-color: #48c5ce;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #202121;
    color: white;
    text-align: center;
    padding: 15px 0 25px;
}

.section2 {
    display: inline-block;
    max-width: 350px;
    margin: 0 20px;
}

img {
    width: 150px;
}

@media screen and (max-width: 600px) {
    .section1 {
        float: none;
        margin: 40px auto;
        max-width: 300px;
    }
}